
body, html{
    font-family: 'Merriweather Sans', sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: rgb(45,61,51);
    background: linear-gradient(0deg, rgba(45,61,51,1) 0%, rgba(79,110,91,1) 56%);
    background-size: cover;
    
}



h1 {
    margin: 0;
    padding: 0;
    
}

.header{
    
    color: white;
    padding: 32px;
    
}
.header a {
    text-decoration: none;
    color:white;
    
}
.header a:hover {
    color:gray;
}

.content {
    display:flex;
}

.content2 {
    margin: 0;
    padding: 0;
    
}

#first-paragraph {
    color:black;
}
#second-paragraph {
    color:black;
}
.footer {
    color:white;
}

.contact-content {
    background:#A2A2A2;

    border-radius: 50px;
    margin-left: 20%;
    margin-right: 20%;
    padding: 10%;
    box-shadow: 6px 4px 4px black;
    
    
}

.contact-content input[type="submit"] {
    color:black;
    background-color:white;
    padding:16px;
    border: none;
}

.contact-content input[type="submit"]:hover{
    opacity: .4;
}

.card {
    color:black;
    padding: 32px 32px;
    background-image: linear-gradient(to top, white 0%, white 100%);

    margin: 50px 128px;
    box-shadow: 6px 4px 4px black;
    
}
.footer a {
    color:white;
    font-size:40px;
    text-decoration: none;
    padding: 20px;
}
.footer a:hover {
    opacity: .7;
}
.footer a:active {
    opacity: .7;
}


.footer a:visited {
    color: white;
}

@media only screen and (max-width: 768px) {
    .content {
        display: inline;
        background: red;
    }
}

@media screen and (min-width:1300px) {
    img {
        width:1600px;
    }
}

.hidden {
    visibility: hidden;
}